* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font sizes */
  --font-size-h1-55: 55px;
  --font-size-h2-25: 25px;
  --font-size-button-15: 15px;
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #CF7621;
  font-size: 55px;
}

body {
  background: radial-gradient(circle, #1F7244 4%, #0F3621 100%) no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}


.dice {
  text-align: center;
}

.dice img {
  height: 70px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-block: 30px;
}

.boxone {
  max-width: 300px;
  max-height: 300px;
  width: 70%;
  background-image: linear-gradient(to bottom right, #BC3E21, #4F0A14);
  border-radius: 10px;
  /*   position: absolute;
  top: 300px;
  left: 400px; */
}

.boxtwo {
  width: 70%;
  max-width: 300px;
  max-height: 300px;
  background-image: linear-gradient(to bottom right, #BC3E21, #4F0A14);
  border-radius: 10px;

  /*   position: absolute;
  top: 300px;
  left: 850px; */
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

body>.buttons {
  order: 2;
}

body>main {
  order: 3;
}

.input {
  background-color: #BF3B1E;
  padding: 20px;
  text-align: center;
  font-family: Arial;
  color: rgb(255, 153, 9);
  font-size: 25px;
}

.subinput {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: white;
}

.rollon {
  text-align: center;
  padding-bottom: 30px;
}


.vs img {
  height: 40px;
}

.button {
  border-radius: 15px;
  border: none;
  background: #EE4809;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}



.start {
  background: #33B30F;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.hold {
  cursor: pointer;

  border-radius: 15px;
  border: none;
  /* background: #3B9EE1; */
  background-color: rgb(163, 16, 0);
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;

}

/* disabled button */
button:disabled,
input[type="button"]:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}


@media screen and (min-width:768px) {}